<header class="navbar navbar-fixed-top">
 <div class="container">
  <div class="row headerNavBox">
      <a href="#" class="col-xs-12 col-sm-3 headerNavBtn">
        トップページ
      </a>
      <a href="#" class="col-xs-12 col-sm-3 headerNavBtn">
        ユーザーを探す
      </a>
      <a href="#" class="col-xs-12 col-sm-3 headerNavBtn">
        新規登録
      </a>
      <a href="#" class="col-xs-12 col-sm-3 headerNavBtn">
        ログイン
      </a>
    </div>
 </div>
</header>